<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.piano.board.BoardMapper">


	
	<!-- 목록조회 글조회 -->
	<select id="getListContent" parameterType="long" resultType="com.piano.board.BoardVO">
		SELECT
				 B.BOARD_SEQ 
				,B.BOARD_TITLE 
				,B.BOARD_TEXT 
				,B.REG_DT 
				,B.BOARD_VIEW
				,U.USER_NICKNAME 
		FROM 
			BOARD AS B
				LEFT OUTER JOIN USER U 
					ON U.USER_SEQ = B.REG_USER_SEQ
		<choose>
			<when test="boardSeq != null">
				WHERE BOARD_SEQ = #{boardSeq}
			</when>	
			<otherwise>	
				WHERE 
					B.DEL_YN = 'N'
				ORDER BY 
					B.REG_DT DESC
			</otherwise>
		</choose>			
	</select>
	
	
	<!-- 글 작성 -->
	<insert id="contentWrite" parameterType="com.piano.board.BoardVO">
		INSERT INTO BOARD (
			 BOARD_TITLE
			,BOARD_TEXT
			,BOARD_GRP_SEQ
			,REG_USER_SEQ
			,REG_DT
		) VALUES (
			 #{boardTitle}
			,#{boardText}
			,#{boardGrpSeq}
			,#{regUserSeq}
			,CURRENT_TIMESTAMP
		)
	</insert>
	
	<!-- 최신 글번호 -->
	<select id="boardSeq" resultType="int"> 
		SELECT 
			MAX(BOARD_SEQ) 
		FROM 
			BOARD
	</select> 

	<!-- 글 수정 삭제 조회수 증가--><!-- TODO: 조회2. update 문의 아이디는 보통 updateBoard 이렇게 update + 테이블 명이 되는 것이 좋음 -->
	<update id="contentModiAndDel" parameterType="com.piano.board.BoardVO"> 
		UPDATE BOARD
		<trim prefix="SET" prefixOverrides=",">
			<if test='boardTitle != null and boardTitle != ""'>
			,BOARD_TITLE = #{boardTitle}
			<!-- TODO: 개별적으로 나눠져 있어야 함. 지금 상태라면 boardText 값이 없을 때에도 업데이트가 됨 -->
			,BOARD_TEXT = #{boardText}
			</if>
			<if test='delYn != null and delYn != ""'>
			,DEL_YN = 'Y'<!-- TODO: 조회3. 위와 같이 #{boardText} 값을 받아서 사용하기, 이렇게 되면 delYn 에 값을 N이라고 넘겨도 Y 밖에 들어가지 않음 -->
			</if>
			<if test= 'boardViewCount="true"'>
			,BOARD_VIEW = board_View + 1
			</if>
		</trim>
		WHERE BOARD_SEQ = #{boardSeq} 	
	</update> 

</mapper>	